body {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 11pt;
}

name {
    font-size: 24pt;
    font-weight: normal;
}

a {
    text-decoration: none;
    color:cadetblue;
}

a:hover {
    color: coral;
}